<table>
  <tbody>
    <% @submissions.each do |submission| %>
      <tr class="post">
        <td>
          <%= link_to like_submission_path(submission), method: :put do %>
            <i class="fa fa-caret-up fa-lg " aria-hidden="true"></i>
          <% end %>

          <%= link_to submission.title, submission.url, class: "title" %>
          <%= link_to submission.user.email, submission_path(submission), target: "_blank" %>

        </td>
        <tr class="post">
          <td> <p><%= submission.get_upvotes.size %> points by <%= submission.user.email %> <%= time_ago_in_words(submission.created_at) %> ago | <%= link_to "#{submission.comments.count} comments", submission %> </p></td>
        </tr>
      </tr>
    <% end %>
  </tbody>
</table>
