@import "bootstrap";


#main.container {
  background-color: rgb(246, 246, 239);
  padding: 0;
  width: 85%;
}

a {
  color: #828282;
}

.post a, .post p {
  color: #828282;
  font-size: 12px;
}
.post a.title {
  color: #000000;
  font-size: 16px;
}

.navbar {
  border-radius: 0;
  height: 30px;
  min-height: 30px;
  padding: 0;
}

.navbar-default {
  background-color: rgb(255, 102, 0);
}
.navbar-default .navbar-nav li a {
  color: #000000;
  padding: 0;
  line-height: 30px;
  margin-right: 1em;
}
.navbar-default .navbar-nav li a:hover {
  color: #ffffff;
}

.navbar-brand {
  padding: 0;
}
.navbar-brand a {
  color: #000000;
  font-size: 1em;
  font-weight: 500;
  padding-left: 5px;
  line-height: 30px;
  margin-right: 1em;
}

table {
  width: 100%
}

.fa-lg {
  color: #828282;
}

textarea.form-control {
  width: 500px;
  height: 100px;
}

#comments {
  margin-top: 5em;
}

.lead {
  font-size: 14px;
}
