<html>
  <head>
    <title>Hackernews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

  </head>

  <body>


    <div id="main" class="container">
      <header class="navbar navbar-default" role="navigation">

        <div id="logo" class="navbar-brand"><%= link_to "Hacker News", root_path %></div>
        <% if user_signed_in? %>
          <ul class="nav">
            <li class="nav-item">
              <%= link_to "submit", new_submission_path, class: "nav-link disabled" %>
            </li>
            <li class="nav-item">
              <%= link_to "account", edit_user_registration_path, class: "nav-link disabled" %>
            </li>
            <li class="nav-item">
              <%= link_to "logout", destroy_user_session_path, :method => :delete, class: "nav-link disabled" %>
            </li>
          </ul>

          <% else %>
            <ul class="nav">
              <li class="nav-item"><%= link_to "login", new_user_session_path, class: "nav-link disabled" %></li>
            </ul>
          <% end %>
      </header>

      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
      <% end %>

      <div id="container" class="center-block">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
